.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 250px;
}

.fighter-preview___stats {
  max-width: 150px;
  flex: 1;
  display: flex;
  justify-content: center;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}

.fighter-preview___info {
  position: relative;
  padding: 25px 15px 5px;
}

.fighter-preview___info:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fighter-preview___health:before {
  background-image: url('../../resources/icons/heart.png');
}

.fighter-preview___attack:before {
  background-image: url('../../resources/icons/sword.png');
}

.fighter-preview___defence:before {
  background-image: url('../../resources/icons/shield.png');
}
